@using MvcCV.Models.Entity

@model Contact

<div class="resume-section-content">
    <h2 class="mb-5">Contact</h2>

    <form method="post">
        <label>Name-Surname</label>
        <input type="text" class="form-control" name="NameSurName"/>

        <label>Mail</label>
        <input type="text" class="form-control" name="Mail"/>

        <label>About</label>
        <input type="text" class="form-control" name="About"/>

        <label>Message</label>
        <input type="text" class="form-control" name="Message"/>
        <br />
        <button class="btn btn-info">Send Message</button>
    </form>
    
</div>