@using MvcCV.Models.Entity

@model List<SocialMedia>

<div class="social-icons">
    @foreach (var item in Model)
    {
        <a class="social-icon" href="@item.Url"><i class="@item.Icon"></i></a>
    }
</div>